<!DOCTYPE html>
<html>
<head>
    <title>Eventer</title>
    <script src="https://npmcdn.com/vue/dist/vue.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div id="app">

  <section id="main-section">

    <div class="center text-center">
      <p class="title">Encontro de programação!</p>
      <p class="subtitle">Quer aprender a programar de uma forma divertida, colaborativa e desafiadora? Seu lugar é com a gente! Está esperando o que pra entrar nessa cultura digital que não para de crescer? ;-D</p>
    </div>

  </section>

  <section id="when-section">
    <div class="container text-center">
      <div class="box">
        <img src="/src/images/icon-location.png">
        <h1>Onde?</h1>
        <p>A definir!</p>
      </div>
      <div class="box">
        <img src="/src/images/icon-calendar.png">
        <h1>Quando?</h1>
        <p>17 de Setembro</p>
      </div>
      <div class="box">
        <img src="/src/images/icon-backpack.png">
        <h1>O que levar?</h1>
        <p>Um computador e lanchinhos para disfarçar a fome e compartilhar com os colegas que esquecerem =D</p>
      </div>
    </div>
  </section>

  <section id="details-section">

  </section>

  <section id="bottom-section">

    <input type="text" id="name-input" v-model="user.name">
    <input type="text" id="email-input" v-model="user.email">
    <input type="text" id="email-confirm-input" v-model="user.emailConfirm">

    <button class="small-6 column" v-on:click="submit"> Submit </button>

  </section>

</div>
<script type="text/javascript" src="/app.js"></script>
</body>
</html>
