
.control {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
}

.center {
    margin: auto;
    width: 70%;
    padding: 5px;
}

.text-center {
  text-align: center;
}

.title {
  color: white;
  font-size: 4em;
  font-weight: bold;
}

.subtitle {
  color: white;
  font-size: 1.8em;
}

/*.container {
  width: 100%;
  padding: 60px;
}*/

.container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px;
}

.container .box {
    flex: 1 0 400px;
}

button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

body {
  background-image: url("/src/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto', sans-serif;;
}

section {
  align-items: center;
}

#main-section {
  height: 90vh;
}

#when-section {
  height:auto;
  background-color: white;
}

#details-section {
  height:70vh;
  background-color: lightgrey;
}

#bottom-section {
  height: 80vh;
  background-color: lightblue;
}
