.cols {
  clear: both;
}
.cols:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.cols > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}
(max-width: 800px) {
  .cols {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cols > div {
    float: none !important;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.col_one_third {
  float: left;
  width: 33.33%;
  padding: 0 1em;
}

.col_two_thirds {
  float: left;
  width: 66.67%;
  padding: 0 1em;
}

.col_one_third:first-of-type {
  clear: left;
  padding: 0 2.077em 0 0;
}
.col_one_third:last-of-type {
  clear: right;
  padding: 0 0 0 2.077em;
}

.col_two_thirds:first-of-type {
  clear: left;
  padding-left: 0;
}
.col_two_thirds:last-of-type {
  clear: right;
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .media_xs_order_one {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }

  .media_xs_order_two {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .media_xs_order_three {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}

.cols > div div {
  margin-bottom: 2em;
  padding: 1.5em;
}
